@model LiteCommerce.Admin.Models.OrderPaginationQueryResult

@{
    ViewBag.Title = "Danh sách đơn hàng";
}

<div class="container-fluid">
    <form id="formSearchInput">
        <div class="row" style="margin-top:5px">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Ngày đặt hàng</label>
                    <div class="input-group">
                        <input id="orderTime" name="orderTime" type="date" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Ngày vận chuyển đến</label>
                    <div class="input-group">
                        <input id="finishedTime" name="finishedTime" type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Trạng thái</label>
                @Html.DropDownList("status", SelectListHelper.OrderStatus(), new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="listOrders" class="container-fluid"></div>

@section scripts {
    <script>
        function getOrders(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            searchCondition.push({
                name: "Status",
                value: $("#status").val(),
            });
            searchCondition.push({
                name: "FinishedTime",
                value: $("#finishedTime").val(),
            });
            searchCondition.push({
                name: "OrderTime",
                value: $("#orderTime").val(),
            });
            searchCondition.push({
                name: "Status",
                value: $("#orderTime").val(),
            });
            $.ajax({
                url: "/Order/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listOrders").empty();
                    $("#listOrders").html(data);
                }
            });
        }

        $(document).ready(function () {
            getOrders(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getOrders(1);
            });
        });
    </script>
}
